@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background: #f9f9f9;
	color: #0e171c;
	font: 300 100%/1.5em 'Roboto', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	letter-spacing: 4px;
	margin-bottom: 15px;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
	letter-spacing: 4px;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

.intro h3 {
	margin-bottom: 15px;
	letter-spacing: 3px;
}

#myTimes h3 {
	margin-bottom: 30px;
}

#myTimes p {
	margin-bottom: 0 !important;
}

h5 {
	display: inline-block;;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
}

.container {
	height: 538px;
	left: 50%;
	margin: -255px 0 0 -245px;
	position: absolute;
	top: 50%;
	width: 510px;
}

/* ---------- CALENDAR ---------- */

.calendar {
	text-align: center;
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid #ba3228;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #ba3228;
}

/*.current-day {
	background: #00addf;
	color: #f9f9f9;
}*/

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #a38651;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

#text {
	display: none !important;
}


input[type=checkbox] {
	margin-right: 20px;
	margin-bottom: 20px
}


.intro {
	background-color: #ba3228;
	text-align: center;
	padding: 20px 15px;
	padding-top: 30px;
	margin-bottom: 45px;
	color: white;
}

.intro h3 {
	margin-bottom: 15px;
	letter-spacing: 3px;
}

img {
	margin-bottom: 10px;
}

#myTimes {
	text-align: center;
	margin-bottom: 25px;
	background-color: rgb(240,240,240);
	padding-top: 30px;
	margin-top: 60px;

}


.newTime {
	position: relative;
}

.newTime:nth-child(even) {
	background-color: rgb(247,247,247);
}

.closeBtn {
	background-color: transparent;
	/*float: right;*/
	color: #ba3228;
	border: #ba3228 1px solid;
	border-radius: 5px;
	position: absolute;
	right: 30px;
	height: 26px;

}

.footer {
	margin-top: 30px;
	margin-bottom: 75px;
	position: relative;
	padding-right: 30%;
	padding-left: 30%;
}

#nextBtn {
	display: none;
}

.alert {
	display: none;
}

hr {
	background-color: #a38651;
	margin-bottom: 0;
}

.btn-primary {
	background-color: #a38651;
	border: #a38651 solid 1px;
}

.btn-primary:hover {
	background-color: #705326;
	border: #705326 solid 1px;
}

.btn-primary:focus {
	background-color: #705326 !important;
	border: #705326 solid 1px;
}




/* ---------- MEDIA QUERIES  ----------*/

@media (max-width: 481px) {
	body, td {
		font-size: 14px !important;;
	}
}

@media (max-width: 424px) {
	td {
		font-size: 13px !important;
	}
}

@media (max-width: 394px) {
	td {
		font-size: 12px !important;
	}
}









